body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.outer-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-bar {
  margin-bottom: 1rem;
}

.grid-wrapper {
  flex: 1 1 auto;
}
